@import url("https://fonts.googleapis.com/css?family=Inter:&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.title {
  color: #021412;
  letter-spacing: 0.15rem;
}
@media (min-width: 71.75em) {
  .title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (font-size: clamp( 1.5rem , 0.9202898551rem  +  2.8985507246vw , 3rem )) {
    .title {
      font-size: clamp( 1.5rem , 0.9202898551rem  +  2.8985507246vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 0.9202898551rem  +  2.8985507246vw , 3rem )) {
    .title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }
}
.title--little {
  line-height: 195.652174%; /* 45/23 */
  letter-spacing: 0.09375rem;
}
@media (min-width: 71.75em) {
  .title--little {
    font-size: 1.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (font-size: clamp( 1.125rem , 1.0042270531rem  +  0.6038647343vw , 1.4375rem )) {
    .title--little {
      font-size: clamp( 1.125rem , 1.0042270531rem  +  0.6038647343vw , 1.4375rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0042270531rem  +  0.6038647343vw , 1.4375rem )) {
    .title--little {
      font-size: calc(1.125rem + 0.3125 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .title--little {
    font-size: 1.125rem;
  }
}

.button {
  color: #FFFFFF;
  background-color: #021412;
  border-radius: 0.625rem;
  padding: 0.9375rem 2.3125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #FFFFFF;
    color: #021412;
    -webkit-box-shadow: 0 0.125rem 0.125rem 0.125rem #D4D4D8;
            box-shadow: 0 0.125rem 0.125rem 0.125rem #D4D4D8;
  }
  .button:focus {
    background-color: #FFFFFF;
    color: #021412;
  }
  .button:disabled {
    background-color: #eaeaea;
    cursor: default;
    color: #71717A;
  }
}
.button--border {
  background-color: #FFFFFF;
  color: #021412;
  border: 0.0625rem solid #D4D4D8;
  padding: 0.9375rem 6.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .button--border:hover {
    color: #FFFFFF;
    background-color: #021412;
  }
  .button--border:focus {
    color: #FFFFFF;
    background-color: #021412;
  }
  .button--border:disabled {
    background-color: #eaeaea;
    cursor: default;
    color: #71717A;
  }
}
.button--black {
  color: #FFFFFF;
  background-color: #021412;
  padding: 0.9375rem 6.25rem;
}
.button--small {
  color: #021412;
  background-color: #FFFFFF;
  border: 0.0625rem solid #D4D4D8;
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
}
@media (min-width: 71.75em) {
  .button--small {
    padding-left: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-left: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem )) {
    .button--small {
      padding-left: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem )) {
    .button--small {
      padding-left: calc(0.625rem + 0.9375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .button--small {
    padding-left: 0.625rem;
  }
}
@media (min-width: 71.75em) {
  .button--small {
    padding-right: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-right: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem )) {
    .button--small {
      padding-right: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem )) {
    .button--small {
      padding-right: calc(0.625rem + 0.9375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .button--small {
    padding-right: 0.625rem;
  }
}
@media (any-hover: hover) {
  .button--small:hover {
    color: #FFFFFF;
    background-color: #021412;
  }
  .button--small:focus {
    color: #FFFFFF;
    background-color: #021412;
  }
  .button--small:disabled {
    background-color: #eaeaea;
    cursor: default;
    color: #71717A;
  }
}
.button--active {
  color: #FFFFFF;
  background-color: #021412;
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
}
@media (min-width: 71.75em) {
  .button--active {
    padding-left: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-left: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem )) {
    .button--active {
      padding-left: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem );
    }
  }
  @supports not (padding-left: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem )) {
    .button--active {
      padding-left: calc(0.625rem + 0.9375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .button--active {
    padding-left: 0.625rem;
  }
}
@media (min-width: 71.75em) {
  .button--active {
    padding-right: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-right: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem )) {
    .button--active {
      padding-right: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem );
    }
  }
  @supports not (padding-right: clamp( 0.625rem , 0.2626811594rem  +  1.8115942029vw , 1.5625rem )) {
    .button--active {
      padding-right: calc(0.625rem + 0.9375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .button--active {
    padding-right: 0.625rem;
  }
}
.button--thing {
  padding: 0.1875rem 2.3125rem;
  line-height: 150%;
}
@media (any-hover: hover) {
  .button--thing:hover {
    background-color: #FFFFFF;
    color: #021412;
    -webkit-box-shadow: 0 0.125rem 0.125rem 0.125rem #D4D4D8;
            box-shadow: 0 0.125rem 0.125rem 0.125rem #D4D4D8;
  }
  .button--thing:focus {
    background-color: #FFFFFF;
    color: #021412;
  }
  .button--thing:disabled {
    background-color: #eaeaea;
    cursor: default;
    color: #71717A;
  }
}

.header__conteiner {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 71.75em) {
  .header__conteiner {
    gap: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (gap: clamp( 0.625rem , -0.4861111111rem  +  5.5555555556vw , 3.5rem )) {
    .header__conteiner {
      gap: clamp( 0.625rem , -0.4861111111rem  +  5.5555555556vw , 3.5rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , -0.4861111111rem  +  5.5555555556vw , 3.5rem )) {
    .header__conteiner {
      gap: calc(0.625rem + 2.875 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .header__conteiner {
    gap: 0.625rem;
  }
}
@media (min-width: 71.75em) {
  .header__conteiner {
    padding-top: 5.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-top: clamp( 1.875rem , 0.643115942rem  +  6.1594202899vw , 5.0625rem )) {
    .header__conteiner {
      padding-top: clamp( 1.875rem , 0.643115942rem  +  6.1594202899vw , 5.0625rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 0.643115942rem  +  6.1594202899vw , 5.0625rem )) {
    .header__conteiner {
      padding-top: calc(1.875rem + 3.1875 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .header__conteiner {
    padding-top: 1.875rem;
  }
}
@media (min-width: 71.75em) {
  .header__conteiner {
    padding-bottom: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.5rem )) {
    .header__conteiner {
      padding-bottom: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.5rem )) {
    .header__conteiner {
      padding-bottom: calc(1.25rem + 2.25 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .header__conteiner {
    padding-bottom: 1.25rem;
  }
}
.header__img {
  width: 8.6875rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 71.75em) {
  .header__list {
    -webkit-column-gap: 3.5rem;
       -moz-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports ((-moz-column-gap: clamp( 1.625rem , 0.9003623188rem  +  3.6231884058vw , 3.5rem )) or (column-gap: clamp( 1.625rem , 0.9003623188rem  +  3.6231884058vw , 3.5rem ))) {
    .header__list {
      -webkit-column-gap: clamp( 1.625rem , 0.9003623188rem  +  3.6231884058vw , 3.5rem );
         -moz-column-gap: clamp( 1.625rem , 0.9003623188rem  +  3.6231884058vw , 3.5rem );
              column-gap: clamp( 1.625rem , 0.9003623188rem  +  3.6231884058vw , 3.5rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 1.625rem , 0.9003623188rem  +  3.6231884058vw , 3.5rem )) or (column-gap: clamp( 1.625rem , 0.9003623188rem  +  3.6231884058vw , 3.5rem ))) {
    .header__list {
      -webkit-column-gap: calc(1.625rem + 1.875 * (100vw - 20rem) / 51.75);
         -moz-column-gap: calc(1.625rem + 1.875 * (100vw - 20rem) / 51.75);
              column-gap: calc(1.625rem + 1.875 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .header__list {
    -webkit-column-gap: 1.625rem;
       -moz-column-gap: 1.625rem;
            column-gap: 1.625rem;
  }
}
@media (max-width: 43.125em) {
  .header__list {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 10;
    background-color: #fff;
    padding: 0rem 0.9375rem 6.25rem 1.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    font-size: 1.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-open .header__list {
    left: 0;
    overflow: hidden;
  }
}
.header__item {
  line-height: 150%;
  cursor: pointer;
}
@media (any-hover: hover) {
  .header__item:hover {
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #021412;
  }
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  row-gap: 0.3125rem;
}
@media (max-width: 28.75em) {
  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 43.125em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 15;
  }
}
@media (max-width: 43.125em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 43.125em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.footer__top {
  border-bottom: 0.0625rem solid #E4E4E7;
}
@media (min-width: 71.75em) {
  .footer__top {
    padding-bottom: 3.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.0778985507rem  +  3.9855072464vw , 3.9375rem )) {
    .footer__top {
      padding-bottom: clamp( 1.875rem , 1.0778985507rem  +  3.9855072464vw , 3.9375rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.0778985507rem  +  3.9855072464vw , 3.9375rem )) {
    .footer__top {
      padding-bottom: calc(1.875rem + 2.0625 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .footer__top {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 71.75em) {
  .footer__top {
    margin-bottom: 4.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (margin-bottom: clamp( 1.875rem , 0.9571256039rem  +  4.5893719807vw , 4.25rem )) {
    .footer__top {
      margin-bottom: clamp( 1.875rem , 0.9571256039rem  +  4.5893719807vw , 4.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.875rem , 0.9571256039rem  +  4.5893719807vw , 4.25rem )) {
    .footer__top {
      margin-bottom: calc(1.875rem + 2.375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .footer__top {
    margin-bottom: 1.875rem;
  }
}
.footer__bottom {
  font-size: 0.75rem;
  line-height: 150%; /* 18/12 */
  letter-spacing: 0.0375rem;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  row-gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 71.75em) {
  .top {
    gap: 5.875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (gap: clamp( 1.875rem , 0.3291062802rem  +  7.729468599vw , 5.875rem )) {
    .top {
      gap: clamp( 1.875rem , 0.3291062802rem  +  7.729468599vw , 5.875rem );
    }
  }
  @supports not (gap: clamp( 1.875rem , 0.3291062802rem  +  7.729468599vw , 5.875rem )) {
    .top {
      gap: calc(1.875rem + 4 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .top {
    gap: 1.875rem;
  }
}
.top__title {
  color: #A1A1AA;
  font-size: 0.75rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  line-height: 150%; /* 18/12 */
}
.top__item:not(:last-child) {
  margin-bottom: 1.25rem;
}
.top__item--logo {
  font-size: 1.0625rem;
}
.top__item--sosial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1.25rem;
}
.top__item--sosial img {
  width: 1.25rem;
  height: 1.25rem;
}
@media (any-hover: hover) {
  .top__link:hover {
    text-decoration: underline;
  }
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 0.625rem;
}
@media (min-width: 71.75em) {
  .bottom {
    padding-bottom: 3.875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-bottom: clamp( 1.875rem , 1.1020531401rem  +  3.8647342995vw , 3.875rem )) {
    .bottom {
      padding-bottom: clamp( 1.875rem , 1.1020531401rem  +  3.8647342995vw , 3.875rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.875rem , 1.1020531401rem  +  3.8647342995vw , 3.875rem )) {
    .bottom {
      padding-bottom: calc(1.875rem + 2 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .bottom {
    padding-bottom: 1.875rem;
  }
}
.bottom__left {
  color: #A1A1AA;
}
.bottom__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom__right img {
  width: 1.5rem;
  height: 1.5rem;
}

.title--logo {
  width: 8.6875rem;
  height: 2rem;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #021412;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__conteiner] {
  max-width: 74.25rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

@media (min-width: 71.75em) {
  .page__hero {
    margin-bottom: 15.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (margin-bottom: clamp( 6.25rem , 2.7958937198rem  +  17.270531401vw , 15.1875rem )) {
    .page__hero {
      margin-bottom: clamp( 6.25rem , 2.7958937198rem  +  17.270531401vw , 15.1875rem );
    }
  }
  @supports not (margin-bottom: clamp( 6.25rem , 2.7958937198rem  +  17.270531401vw , 15.1875rem )) {
    .page__hero {
      margin-bottom: calc(6.25rem + 8.9375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .page__hero {
    margin-bottom: 6.25rem;
  }
}
@media (min-width: 71.75em) {
  .page__programs {
    margin-bottom: 13.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (margin-bottom: clamp( 3.125rem , -0.9812801932rem  +  20.5314009662vw , 13.75rem )) {
    .page__programs {
      margin-bottom: clamp( 3.125rem , -0.9812801932rem  +  20.5314009662vw , 13.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , -0.9812801932rem  +  20.5314009662vw , 13.75rem )) {
    .page__programs {
      margin-bottom: calc(3.125rem + 10.625 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .page__programs {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 71.75em) {
  .page__manager {
    margin-bottom: 19.625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (margin-bottom: clamp( 3.125rem , -3.2518115942rem  +  31.884057971vw , 19.625rem )) {
    .page__manager {
      margin-bottom: clamp( 3.125rem , -3.2518115942rem  +  31.884057971vw , 19.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , -3.2518115942rem  +  31.884057971vw , 19.625rem )) {
    .page__manager {
      margin-bottom: calc(3.125rem + 16.5 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .page__manager {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 71.75em) {
  .page__mission {
    margin-bottom: 12.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (margin-bottom: clamp( 3.125rem , -0.6672705314rem  +  18.961352657vw , 12.9375rem )) {
    .page__mission {
      margin-bottom: clamp( 3.125rem , -0.6672705314rem  +  18.961352657vw , 12.9375rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , -0.6672705314rem  +  18.961352657vw , 12.9375rem )) {
    .page__mission {
      margin-bottom: calc(3.125rem + 9.8125 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .page__mission {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 71.75em) {
  .page__pricing {
    margin-bottom: 10.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (margin-bottom: clamp( 3.125rem , 0.4438405797rem  +  13.4057971014vw , 10.0625rem )) {
    .page__pricing {
      margin-bottom: clamp( 3.125rem , 0.4438405797rem  +  13.4057971014vw , 10.0625rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , 0.4438405797rem  +  13.4057971014vw , 10.0625rem )) {
    .page__pricing {
      margin-bottom: calc(3.125rem + 6.9375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .page__pricing {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 71.75em) {
  .page__start-now {
    margin-bottom: 12.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (margin-bottom: clamp( 3.125rem , -0.4981884058rem  +  18.115942029vw , 12.5rem )) {
    .page__start-now {
      margin-bottom: clamp( 3.125rem , -0.4981884058rem  +  18.115942029vw , 12.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , -0.4981884058rem  +  18.115942029vw , 12.5rem )) {
    .page__start-now {
      margin-bottom: calc(3.125rem + 9.375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .page__start-now {
    margin-bottom: 3.125rem;
  }
}

.hero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
@media (max-width: 60.875rem) {
  .hero__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__items::after {
  content: "";
  background-color: #7DF1E8;
  border-radius: 25rem 0 0 0;
  width: 31.5rem;
  height: 117%;
  right: 0;
  top: 0;
  position: absolute;
}
@media (max-width: 31.5rem) {
  .hero__items::after {
    right: -0.9375rem;
  }
}
.hero__left {
  width: 45%;
  padding-top: 2.3125rem;
  z-index: 5;
}
@media (max-width: 60.875rem) {
  .hero__left {
    width: 100%;
  }
}
.hero__title {
  letter-spacing: 0.2rem;
  margin-bottom: 1.875rem;
}
@media (min-width: 71.75em) {
  .hero__title {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (font-size: clamp( 2.625rem , 2.0935990338rem  +  2.6570048309vw , 4rem )) {
    .hero__title {
      font-size: clamp( 2.625rem , 2.0935990338rem  +  2.6570048309vw , 4rem );
    }
  }
  @supports not (font-size: clamp( 2.625rem , 2.0935990338rem  +  2.6570048309vw , 4rem )) {
    .hero__title {
      font-size: calc(2.625rem + 1.375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 2.625rem;
  }
}
.hero p {
  font-size: 1.25rem;
  line-height: 150%;
}
.hero p:not(:last-child) {
  margin-bottom: 2.75rem;
}
@media (max-width: 60.875rem) {
  .hero .button--thing {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 26.5625rem) {
  .hero .button--thing {
    width: 100%;
  }
}

.programs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media (max-width: 48rem) {
  .programs {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 0.625rem;
  }
}
.programs__item {
  border-radius: 0 0 7.5rem 0;
  border: 0.0625rem solid #E4E4E7;
}
@media (min-width: 71.75em) {
  .programs__item {
    padding: 6.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding: clamp( 1.25rem , -0.7065217391rem  +  9.7826086957vw , 6.3125rem )) {
    .programs__item {
      padding: clamp( 1.25rem , -0.7065217391rem  +  9.7826086957vw , 6.3125rem );
    }
  }
  @supports not (padding: clamp( 1.25rem , -0.7065217391rem  +  9.7826086957vw , 6.3125rem )) {
    .programs__item {
      padding: calc(1.25rem + 5.0625 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .programs__item {
    padding: 1.25rem;
  }
}
.programs__item--top {
  border-radius: 0 7.5rem 0 0;
}
.programs__title {
  margin-bottom: 1.4375rem;
}
.programs p {
  line-height: 157.894737%; /* 30/19 */
}
@media (min-width: 71.75em) {
  .programs p {
    font-size: 1.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (font-size: clamp( 1rem , 0.9275362319rem  +  0.3623188406vw , 1.1875rem )) {
    .programs p {
      font-size: clamp( 1rem , 0.9275362319rem  +  0.3623188406vw , 1.1875rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9275362319rem  +  0.3623188406vw , 1.1875rem )) {
    .programs p {
      font-size: calc(1rem + 0.1875 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .programs p {
    font-size: 1rem;
  }
}
.programs p:not(:last-child) {
  margin-bottom: 1.8125rem;
}
.programs__lable {
  font-size: 0.875rem;
  line-height: 150%; /* 21/14 */
  letter-spacing: 0.04375rem;
  padding: 0.1875rem 0.5rem;
  border-radius: 0.375rem;
  background-color: #E4E4E7;
  text-transform: uppercase;
  width: 3.375rem;
  color: #71717A;
  margin-bottom: 0.375rem;
}

.manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 71.75em) {
  .manager {
    -webkit-column-gap: 4.5rem;
       -moz-column-gap: 4.5rem;
            column-gap: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports ((-moz-column-gap: clamp( 0.625rem , -0.8725845411rem  +  7.4879227053vw , 4.5rem )) or (column-gap: clamp( 0.625rem , -0.8725845411rem  +  7.4879227053vw , 4.5rem ))) {
    .manager {
      -webkit-column-gap: clamp( 0.625rem , -0.8725845411rem  +  7.4879227053vw , 4.5rem );
         -moz-column-gap: clamp( 0.625rem , -0.8725845411rem  +  7.4879227053vw , 4.5rem );
              column-gap: clamp( 0.625rem , -0.8725845411rem  +  7.4879227053vw , 4.5rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.625rem , -0.8725845411rem  +  7.4879227053vw , 4.5rem )) or (column-gap: clamp( 0.625rem , -0.8725845411rem  +  7.4879227053vw , 4.5rem ))) {
    .manager {
      -webkit-column-gap: calc(0.625rem + 3.875 * (100vw - 20rem) / 51.75);
         -moz-column-gap: calc(0.625rem + 3.875 * (100vw - 20rem) / 51.75);
              column-gap: calc(0.625rem + 3.875 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .manager {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
@media (max-width: 37.5rem) {
  .manager {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.manager__image {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 254/300;
}
.manager__items p {
  line-height: 150%; /* 45/30 */
}
@media (min-width: 71.75em) {
  .manager__items p {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (font-size: clamp( 1.125rem , 0.8351449275rem  +  1.4492753623vw , 1.875rem )) {
    .manager__items p {
      font-size: clamp( 1.125rem , 0.8351449275rem  +  1.4492753623vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.8351449275rem  +  1.4492753623vw , 1.875rem )) {
    .manager__items p {
      font-size: calc(1.125rem + 0.75 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .manager__items p {
    font-size: 1.125rem;
  }
}
@media (min-width: 71.75em) {
  .manager__items p:not(:last-child) {
    margin-bottom: 1.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (margin-bottom: clamp( 1.25rem , 1.0809178744rem  +  0.845410628vw , 1.6875rem )) {
    .manager__items p:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0809178744rem  +  0.845410628vw , 1.6875rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 1.0809178744rem  +  0.845410628vw , 1.6875rem )) {
    .manager__items p:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.4375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .manager__items p:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.manager__button {
  line-height: 155.172414%; /* 45/29 */
  position: relative;
  top: -0.1875rem;
}
@media (min-width: 71.75em) {
  .manager__button {
    font-size: 1.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (font-size: clamp( 1.125rem , 0.8592995169rem  +  1.3285024155vw , 1.8125rem )) {
    .manager__button {
      font-size: clamp( 1.125rem , 0.8592995169rem  +  1.3285024155vw , 1.8125rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.8592995169rem  +  1.3285024155vw , 1.8125rem )) {
    .manager__button {
      font-size: calc(1.125rem + 0.6875 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .manager__button {
    font-size: 1.125rem;
  }
}
.manager__button::after {
  content: "";
  position: absolute;
  height: 0.1875rem;
  background-color: #71717A;
  left: 0;
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 71.75em) {
  .manager__button::after {
    width: 9.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (width: clamp( 5.9375rem , 4.5848429952rem  +  6.7632850242vw , 9.4375rem )) {
    .manager__button::after {
      width: clamp( 5.9375rem , 4.5848429952rem  +  6.7632850242vw , 9.4375rem );
    }
  }
  @supports not (width: clamp( 5.9375rem , 4.5848429952rem  +  6.7632850242vw , 9.4375rem )) {
    .manager__button::after {
      width: calc(5.9375rem + 3.5 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .manager__button::after {
    width: 5.9375rem;
  }
}
@media (any-hover: hover) {
  .manager__button:hover::after {
    width: 0;
  }
}
.manager__name {
  line-height: 180%; /* 36/20 */
  letter-spacing: 0.075rem;
}
@media (min-width: 71.75em) {
  .manager__name {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (font-size: clamp( 1rem , 0.9033816425rem  +  0.4830917874vw , 1.25rem )) {
    .manager__name {
      font-size: clamp( 1rem , 0.9033816425rem  +  0.4830917874vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9033816425rem  +  0.4830917874vw , 1.25rem )) {
    .manager__name {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .manager__name {
    font-size: 1rem;
  }
}
.manager__prof {
  line-height: 158.823529%; /* 27/17 */
  color: #71717A;
}
@media (min-width: 71.75em) {
  .manager__prof {
    font-size: 1.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (font-size: clamp( 0.875rem , 0.8025362319rem  +  0.3623188406vw , 1.0625rem )) {
    .manager__prof {
      font-size: clamp( 0.875rem , 0.8025362319rem  +  0.3623188406vw , 1.0625rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8025362319rem  +  0.3623188406vw , 1.0625rem )) {
    .manager__prof {
      font-size: calc(0.875rem + 0.1875 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .manager__prof {
    font-size: 0.875rem;
  }
}

.mission {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 71.75em) {
  .mission {
    gap: 5.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (gap: clamp( 0.625rem , -1.2832125604rem  +  9.5410628019vw , 5.5625rem )) {
    .mission {
      gap: clamp( 0.625rem , -1.2832125604rem  +  9.5410628019vw , 5.5625rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , -1.2832125604rem  +  9.5410628019vw , 5.5625rem )) {
    .mission {
      gap: calc(0.625rem + 4.9375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .mission {
    gap: 0.625rem;
  }
}
@media (max-width: 48rem) {
  .mission {
    grid-template-columns: repeat(1, 1fr);
  }
}
.mission__title {
  margin-bottom: 3.3125rem;
}
@media (min-width: 71.75em) {
  .mission__title {
    padding-top: 3.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-top: clamp( 1.25rem , 0.4770531401rem  +  3.8647342995vw , 3.25rem )) {
    .mission__title {
      padding-top: clamp( 1.25rem , 0.4770531401rem  +  3.8647342995vw , 3.25rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.4770531401rem  +  3.8647342995vw , 3.25rem )) {
    .mission__title {
      padding-top: calc(1.25rem + 2 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .mission__title {
    padding-top: 1.25rem;
  }
}
.mission__button {
  padding: 0.1875rem 2.3125rem;
  line-height: 150%;
  background-color: #FFFFFF;
  color: #021412;
  font-size: 1.25rem;
  line-height: 150%; /* 30/20 */
  border: 0.0625rem solid #D4D4D8;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .mission__button:hover {
    background-color: #021412;
    color: #FFFFFF;
  }
  .mission__button:focus {
    background-color: #021412;
    color: #FFFFFF;
  }
  .mission__button:disabled {
    background-color: #eaeaea;
    cursor: default;
    color: #71717A;
  }
}
.mission__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 71.75em) {
  .mission__item {
    gap: 6.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (gap: clamp( 0.625rem , -1.5247584541rem  +  10.7487922705vw , 6.1875rem )) {
    .mission__item {
      gap: clamp( 0.625rem , -1.5247584541rem  +  10.7487922705vw , 6.1875rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , -1.5247584541rem  +  10.7487922705vw , 6.1875rem )) {
    .mission__item {
      gap: calc(0.625rem + 5.5625 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .mission__item {
    gap: 0.625rem;
  }
}
@media (min-width: 71.75em) {
  .mission__item {
    padding-top: 3.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-top: clamp( 1.25rem , 0.4770531401rem  +  3.8647342995vw , 3.25rem )) {
    .mission__item {
      padding-top: clamp( 1.25rem , 0.4770531401rem  +  3.8647342995vw , 3.25rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.4770531401rem  +  3.8647342995vw , 3.25rem )) {
    .mission__item {
      padding-top: calc(1.25rem + 2 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .mission__item {
    padding-top: 1.25rem;
  }
}
.mission__item:not(:last-child) {
  border-bottom: 0.0625rem solid #D4D4D8;
}
@media (min-width: 71.75em) {
  .mission__item:not(:last-child) {
    padding-bottom: 2.75rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.6702898551rem  +  2.8985507246vw , 2.75rem )) {
    .mission__item:not(:last-child) {
      padding-bottom: clamp( 1.25rem , 0.6702898551rem  +  2.8985507246vw , 2.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.6702898551rem  +  2.8985507246vw , 2.75rem )) {
    .mission__item:not(:last-child) {
      padding-bottom: calc(1.25rem + 1.5 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .mission__item:not(:last-child) {
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 48rem) {
  .mission__item {
    grid-template-columns: repeat(1, 1fr);
  }
}
.mission__little-title {
  font-size: 1.1875rem;
  line-height: 189.473684%; /* 36/19 */
  letter-spacing: 0.075rem;
}
.mission p {
  font-size: 1.0625rem;
  line-height: 158.823529%; /* 27/17 */
}

.pricing__title {
  text-align: center;
}
@media (min-width: 71.75em) {
  .pricing__title {
    margin-bottom: 1.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (margin-bottom: clamp( 0.9375rem , 0.5993357488rem  +  1.690821256vw , 1.8125rem )) {
    .pricing__title {
      margin-bottom: clamp( 0.9375rem , 0.5993357488rem  +  1.690821256vw , 1.8125rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , 0.5993357488rem  +  1.690821256vw , 1.8125rem )) {
    .pricing__title {
      margin-bottom: calc(0.9375rem + 0.875 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .pricing__title {
    margin-bottom: 0.9375rem;
  }
}
.pricing__text {
  text-align: center;
  line-height: 150%; /* 30/20 */
}
@media (min-width: 71.75em) {
  .pricing__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (font-size: clamp( 1rem , 0.9033816425rem  +  0.4830917874vw , 1.25rem )) {
    .pricing__text {
      font-size: clamp( 1rem , 0.9033816425rem  +  0.4830917874vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9033816425rem  +  0.4830917874vw , 1.25rem )) {
    .pricing__text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .pricing__text {
    font-size: 1rem;
  }
}
@media (min-width: 71.75em) {
  .pricing__text {
    margin-bottom: 5.125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (margin-bottom: clamp( 1.25rem , -0.2475845411rem  +  7.4879227053vw , 5.125rem )) {
    .pricing__text {
      margin-bottom: clamp( 1.25rem , -0.2475845411rem  +  7.4879227053vw , 5.125rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , -0.2475845411rem  +  7.4879227053vw , 5.125rem )) {
    .pricing__text {
      margin-bottom: calc(1.25rem + 3.875 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .pricing__text {
    margin-bottom: 1.25rem;
  }
}
.pricing__items {
  margin-bottom: 2.625rem;
}
.pricing__plan {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.25rem;
  line-height: 150%; /* 30/20 */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pricing__plan::after {
  content: "";
  background: url("../img/arrow.svg") 0 0 no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .pricing__plan:hover {
    text-shadow: 0.0625rem 0.0625rem 0.0625rem #021412;
  }
  .pricing__plan:hover::after {
    -webkit-transform: translateX(0.1875rem);
        -ms-transform: translateX(0.1875rem);
            transform: translateX(0.1875rem);
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 61.25rem) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 39.625rem) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.items__item {
  border-radius: 0 5rem 0 5rem;
}
@media (min-width: 71.75em) {
  .items__item {
    padding-top: 3.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-top: clamp( 1.25rem , 0.5012077295rem  +  3.7439613527vw , 3.1875rem )) {
    .items__item {
      padding-top: clamp( 1.25rem , 0.5012077295rem  +  3.7439613527vw , 3.1875rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.5012077295rem  +  3.7439613527vw , 3.1875rem )) {
    .items__item {
      padding-top: calc(1.25rem + 1.9375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .items__item {
    padding-top: 1.25rem;
  }
}
@media (min-width: 71.75em) {
  .items__item {
    padding-bottom: 6.625rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-bottom: clamp( 1.25rem , -0.827294686rem  +  10.38647343vw , 6.625rem )) {
    .items__item {
      padding-bottom: clamp( 1.25rem , -0.827294686rem  +  10.38647343vw , 6.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , -0.827294686rem  +  10.38647343vw , 6.625rem )) {
    .items__item {
      padding-bottom: calc(1.25rem + 5.375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .items__item {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 71.75em) {
  .items__item {
    padding-left: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-left: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.5rem )) {
    .items__item {
      padding-left: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.5rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.5rem )) {
    .items__item {
      padding-left: calc(1.25rem + 2.25 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .items__item {
    padding-left: 1.25rem;
  }
}
@media (min-width: 71.75em) {
  .items__item {
    padding-right: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-right: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.5rem )) {
    .items__item {
      padding-right: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.5rem );
    }
  }
  @supports not (padding-right: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.5rem )) {
    .items__item {
      padding-right: calc(1.25rem + 2.25 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .items__item {
    padding-right: 1.25rem;
  }
}
.items__item--active {
  background-color: #F1F5F9;
}
.items__lable {
  margin-bottom: 0.75rem;
  font-size: 1.1875rem;
  line-height: 157.894737%; /* 30/19 */
}
.items__price {
  margin-bottom: 0.75rem;
  font-size: 3rem;
  line-height: 150%; /* 72/48 */
}
.items__price span {
  font-size: 1.1875rem;
  line-height: 157.894737%; /* 30/19 */
  color: rgba(2, 20, 18, 0.4588235294);
}
.items__button {
  margin-bottom: 1.25rem;
}
.items__list:not(:last-child) {
  margin-bottom: 2.4375rem;
}
.items__condition {
  padding: 1.25rem 0;
  font-size: 0.9375rem;
  line-height: 160%; /* 24/15 */
  color: #000000;
}
.items__condition:not(:last-child) {
  border-bottom: 0.0625rem solid #E4E4E7;
}
.items__condition img {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
.items__description {
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  line-height: 150%; /* 21/14 */
  color: rgba(2, 20, 18, 0.4588235294);
}
.items__content {
  padding: 1.25rem 0;
  font-size: 0.9375rem;
  line-height: 160%; /* 24/15 */
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.items__content:not(:last-child) {
  border-bottom: 0.0625rem solid #E4E4E7;
}
.items__content::before {
  content: "";
  background: url("../img/shevron.svg") 0 0 no-repeat;
  width: 1.5625rem;
  height: 1.25rem;
}

.start-now {
  background-color: #FFE3FB;
  border-radius: 8.75rem 0 8.75rem 0;
}
@media (min-width: 71.75em) {
  .start-now {
    padding-top: 4.125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-top: clamp( 1.25rem , 0.1388888889rem  +  5.5555555556vw , 4.125rem )) {
    .start-now {
      padding-top: clamp( 1.25rem , 0.1388888889rem  +  5.5555555556vw , 4.125rem );
    }
  }
  @supports not (padding-top: clamp( 1.25rem , 0.1388888889rem  +  5.5555555556vw , 4.125rem )) {
    .start-now {
      padding-top: calc(1.25rem + 2.875 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .start-now {
    padding-top: 1.25rem;
  }
}
@media (min-width: 71.75em) {
  .start-now {
    padding-bottom: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-bottom: clamp( 1.25rem , -0.0060386473rem  +  6.2801932367vw , 4.5rem )) {
    .start-now {
      padding-bottom: clamp( 1.25rem , -0.0060386473rem  +  6.2801932367vw , 4.5rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , -0.0060386473rem  +  6.2801932367vw , 4.5rem )) {
    .start-now {
      padding-bottom: calc(1.25rem + 3.25 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .start-now {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 71.75em) {
  .start-now {
    padding-left: 13.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-left: clamp( 1.25rem , -3.36352657rem  +  23.0676328502vw , 13.1875rem )) {
    .start-now {
      padding-left: clamp( 1.25rem , -3.36352657rem  +  23.0676328502vw , 13.1875rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , -3.36352657rem  +  23.0676328502vw , 13.1875rem )) {
    .start-now {
      padding-left: calc(1.25rem + 11.9375 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .start-now {
    padding-left: 1.25rem;
  }
}
@media (min-width: 71.75em) {
  .start-now {
    padding-right: 13.25rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (padding-right: clamp( 1.25rem , -3.3876811594rem  +  23.1884057971vw , 13.25rem )) {
    .start-now {
      padding-right: clamp( 1.25rem , -3.3876811594rem  +  23.1884057971vw , 13.25rem );
    }
  }
  @supports not (padding-right: clamp( 1.25rem , -3.3876811594rem  +  23.1884057971vw , 13.25rem )) {
    .start-now {
      padding-right: calc(1.25rem + 12 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .start-now {
    padding-right: 1.25rem;
  }
}
@media (max-width: 26.5625rem) {
  .start-now {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    border-radius: 4.375rem 0 4.375rem 0;
  }
}
.start-now p {
  line-height: 129.72973%; /* 48/37 */
  letter-spacing: 0.15rem;
}
@media (min-width: 71.75em) {
  .start-now p {
    font-size: 2.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (font-size: clamp( 1.25rem , 0.8393719807rem  +  2.0531400966vw , 2.3125rem )) {
    .start-now p {
      font-size: clamp( 1.25rem , 0.8393719807rem  +  2.0531400966vw , 2.3125rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 0.8393719807rem  +  2.0531400966vw , 2.3125rem )) {
    .start-now p {
      font-size: calc(1.25rem + 1.0625 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .start-now p {
    font-size: 1.25rem;
  }
}
@media (min-width: 71.75em) {
  .start-now p {
    margin-bottom: 2.875rem;
  }
}
@media (min-width: 20em) and (max-width: 71.75em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.6219806763rem  +  3.1400966184vw , 2.875rem )) {
    .start-now p {
      margin-bottom: clamp( 1.25rem , 0.6219806763rem  +  3.1400966184vw , 2.875rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.6219806763rem  +  3.1400966184vw , 2.875rem )) {
    .start-now p {
      margin-bottom: calc(1.25rem + 1.625 * (100vw - 20rem) / 51.75);
    }
  }
}
@media (max-width: 20em) {
  .start-now p {
    margin-bottom: 1.25rem;
  }
}
.start-now__button {
  position: relative;
  left: 35%;
}