@import url("fonts.css");
@import url("reset.css");

body {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
}

[class*="__conteiner"] {
	max-width: 1250px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;	
	margin: 0 auto;
	z-index: 10;	
}
.header__line-first {
	background-color: #37393F;
	font-size: 14px;
	color: white;	
	text-align: center;
}
.first-line {
	position: relative;
	padding: 19px;	
}
.first-line__contacts {
	display: inline-block;
}
.contacts__list {
	display: inline-block;
	position: relative;
}
.contacts__list:first-child {
	margin-right: 42px;
}
.contacts__list:nth-child(2) {
	margin-right: 300px;
}
.contacts__list:last-child {
	margin-right: 50px;
}

.contacts__content:hover {
	text-decoration: underline;
}
.contacts__content {
	display: inline-block;
	padding-left: 9px;
}
.first-line__accounts {
	display: inline-block;
}
.accounts__list {
	display: inline-block;
}
.accounts__list:hover {
	background-color: #40DDB6;
}
.accounts__list:not(:last-child) {
	margin-right: 16px;
}
.header__area-menu {
	color: #37393F;
	margin-bottom: 50px;
	background-color: whitesmoke;
	padding: 10px;	
}
.menu-area {
	position: relative;
	text-align: center;
}
.menu-area__logo {
	display: inline-block;	
	vertical-align: middle;
}
.logo__image {
	padding-right: 195px;
}
.menu-area__tabs {
	margin-right: 40px;	
}
.tabs-menu {
	display: inline-block;
}
.tabs-menu__item {
	display: inline-block;
	position: relative;
}
.tabs-menu__item:not(:last-child) {
	margin-right: 30px;
}
.tabs-menu__sub {
	display: inline-block;	
}
.tabs-menu__list:hover {
	text-decoration: underline;
}
.tabs-menu__list img{
	padding-top: 5px;
}
.second-menu {
	visibility: hidden;	
	position: absolute;
	text-align: left;
	left: 0;
	top: 50%;
	padding-top: 15px;
	z-index: 10;
}
.tabs-menu__item:hover .second-menu {
	visibility: visible;	
}
.second-menu__item {
	padding: 5px 5px;
	position: relative;
	background-color: whitesmoke;
}
.second-menu__link:hover {
	text-decoration: underline;
}
.second-menu__other {
	visibility: hidden;
}
.other-menu {	
	position: absolute;
	left: 100%;
	top: 0;
	padding-left: 10px;
	z-index: 12;
}
.other-menu__item {
	padding: 5px 5px;
	position: relative;
	background-color: whitesmoke;
}
.other-menu__link:hover {
	text-decoration: underline;
}
.second-menu__item:hover .other-menu {
	visibility: visible;	
}
.menu-area__button {
	display: inline-block;	
}
.button__contact {
	background-color: #6B77E5;
	padding: 22px 35px;
	color: white;
	font-family: "Cabin", sans-serif;
	font-weight: 600;
	text-transform: capitalize;
}
.button__contact:hover {
	background-color: #0e1979;
}
.page {
	margin: 0 auto;
	max-width: 1240px;
	
	padding-top: 150px;
}
.page__line:not(:last-child) {		
	margin-bottom: 31px;
}
.catalog {	
	display: inline-block;			
}
.catalog:not(:last-child) {
	margin-right: 31px;
}
.person-card {
	position: relative;
}
.page__image img{
	max-width: 386px;
	max-height: 532px;
	width: 100%;
	height: 100%;
}
.person-card::before {
	content: "";
	background-color: rgba(107, 119, 229, 0.70);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	opacity: 0;
}
.person-card:hover::before {
	content: "";
	opacity: 0.5;
}
.person-card__sosial {
	position: absolute;
	left: 108px;
	top: 242px;
	z-index: 5;
	visibility: hidden;
}
.person-card:hover .person-card__sosial {
	visibility: visible;
}
.image__link:not(:last-child) {
	margin-right: 13px;
}
.image__link {
	width: 45px;
	height: 45px;	
}
.person-info {
	padding: 24px 30px;
	background-color: white;
	position: absolute;
	left: 22px;
	bottom: 22px;	
	z-index: 2;
	width: 341px;	
	text-align: center;
}
.person-info__name {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 25px;
	color: #37393F;
	margin-bottom: 4px;
	line-height: 1.52;	
}
.person-info__position {
	color: #7D7D7D;
	line-height: 1.35;
}

.page__sticky {
	padding-top: 30px;		
}
.sticky__title {
	padding: 150px 10px 30px 10px;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.4;
	color: #40DDB6;
	text-transform: uppercase;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
}
.sticky__title:first-of-type {
	text-align: center;
}
.sticky__title:last-of-type {
	text-align: right;
}
.sticky__text {
	margin-bottom: 10px;
}
.footer {
	background-color: #37393F;
	margin: 0 auto;
	text-align: center;
}
.footer__area-list {
	padding-top: 20px;
	position: relative;
}
.list-area__item {
	display: inline-block;
	vertical-align: middle;
}
.list-area__item:first-child {
	margin-right: 185px;
}
.list-area__item:not(:last-child) {
	margin-right: 65px;
}
.contact {
	display: inline-block;
}
.contact__action {
	font-family: "Poppins",sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	color: white;
}
.contact__how {
	color: white;
}