@import url("fonts.css");
@import url("reset.css");

body {
	font-family: "Causten", sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__conteiner"] {
	max-width: 1170px;
   margin: 0 auto;
	padding: 0 15px;		   
}
@media (max-width: 1199.98px){
	[class*="__container"] {
		max-width: 970px;
	}
}

@media (max-width: 990.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}

.header {
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: white;
	opacity: 0.8;
}
.header__item {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	padding: 34px 20px 31px 20px;
	border-bottom: 1.5px solid #807D7E;
		
}
.item-header__logo {	
	transition: 0.3s;
}
.item-header__logo:hover .items__link {
	transform: scale(1.1);
}
.search {
	display: flex;
	justify-content: space-around;	
	flex: 1 0 25%;
	gap: 10px;
	padding: 0 15px;
	align-items: center;
	flex-wrap: wrap;
}

.search__item-search {
	position: relative;
	padding: 12px 48px;
	background-color: #F6F6F6;
	border-radius: 8px;	
	color: #807D7E;
	font-weight: 500;
	display: flex;
	align-items: center;
	flex-basis: 184px;
	flex-grow: 0;
	flex-shrink: 1;
}
.search__item-search::before {
	content: "";
	width: 21px;
	height: 21px;
	background: url("../img/header/search.svg") center / 21px no-repeat;
	display: inline-flex;
	margin-right: 12px;
}
.search__item {
	color: #333333;
	font-weight: 400;
}
.lang__menu {
	position: relative;	
}
.lang__menu-link {
	display: flex;
	flex: 0 0 auto;
}
.lang__menu-link::after {
	content: "";
	width: 24px;
	height: 24px;
	background: url("../img/header/vector.svg") 10px 5px no-repeat;	
}
.lang__menu:hover .lang__menu-link::after {
	transform: rotate(180deg);
}
.lang__menu-link:hover {
	color: #5507bb;
}
.lang__sub-menu {
	position: absolute;	
	padding: 5px 0;
	background-color: white;
	visibility: hidden;
	opacity: 0.8;
}
.lang__menu:hover .lang__sub-menu  {
	visibility: visible;
	opacity: 1;
}
.lang__sub-menu-link {
	padding: 10px;
}
.lang__sub-menu-link:hover {
	color: #5507bb;
}
.search__buttons {
	/*display: flex;
	justify-content: space-between;
	gap: 29px;*/
	align-items: center;
}
.search__buttons-login {
	padding: 12px 48px;
	border-radius: 8px;
	color: white;
	font-weight: 500;
	background-color: #8A33FD;
	flex: 0 0 auto;
	transition: 0.3s;
}
.search__buttons-login:hover {
	background-color: #6f18e2;
}
.search__buttons-sing {
	padding: 11px 47px;
	border-radius: 8px;
	color: #8A33FD;
	font-weight: 500;
	border: 1px solid #3C4242;
	flex: 0 0 auto;
	transition: 0.3s;
}
.search__buttons-sing:hover {
	background-color: rgb(163, 161, 161);
}


.page {
	padding-top: 110px;
	flex-grow: 1;
}
.products {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: black;
	background-color: #FEFAF4;
}
@media (min-width: 1350px) {
	.products {
		background: url(../img/main/products/eld.webp) 100% 150% no-repeat;
		background-color: #FEFAF4;
	}
}
.products__conteiner {
	padding: 20px 15px;
	margin-bottom: 30px;
}

.products__title {
	font-family:  "DM Serif Text", sans-serif;
	font-size: 58px;
	margin-bottom: 27px;	
}
.products__text {
	font-size: 20px;
	line-height: 1.8;
	margin-bottom: 31px;
}
.products__column {
	padding-bottom: 30px;
}
.column {
	display: flex;
	justify-content: space-around;
	row-gap: 48px;
	flex-wrap: wrap;
	margin: 0 -15px;
	
}

.column__items {		
	padding: 0 15px;
	flex: 0 1 33.333%;
}
@media (max-width: 840px) {
	.column__items {
		flex: 0 1 50%;		
	}
	.products__title {
		font-size: 44px;
	}
}
@media (max-width: 490px) {
	.column__items {
		flex: 0 1 100%;
	}
	.products__title {
		font-size: 30px;
	}
}

.column__items p {
	line-height: 1.6;
}
.column__vid {
	aspect-ratio: 357 / 240;
	object-fit: cover;
	margin-bottom: 15px;
}
.column__image {
	width: 100%;
	height: 100%;
	transition: 0.2s;
}
.column__image:hover {
	transform: scale(1.03);
}
.column__title {
	font-family: "DM Serif Text", sans-serif;
	font-size: 24px;	
	line-height: 1.2;
	margin-bottom: 15px;
}
.column__more {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	flex: 1 0 auto;
	margin-top: 5px;
	transition: 0.2s;
	
}

.column__more p {
	color: #F55529;
	font-weight: 800;
	line-height: 1.5;
}
.column__more img {
	width: 24px;
	height: 24px;
}
.column__more:hover  {
	border: 1px solid #f5c3b5a9;
}

.most {
	font-family: "Cormorant Infant", sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: black;
}

.most__items {
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.most__title {
	font-family: "DM Serif Text", sans-serif;
	font-size: 58px;
	font-weight: 400;
	color: #291403;
	text-transform: capitalize;
	margin-bottom: 27px;
	text-align: center;
}
.most__text {
	font-size: 30px;
	color: #818181;
	line-height: 1.4;
	margin-bottom: 62px;
	text-align: center;
	text-transform: capitalize;
}
.item {
	display: flex;
	row-gap: 30px;
	justify-content: space-around;
	flex-wrap: wrap;
	
}
.item__link {
	padding: 0 5px;
	flex: 1 0 25%;
}
@media (max-width: 840px) {
	.item__link {
		flex: 1 0 50%;
	}
	.most__title {
		font-size: 46px;
	}
}
@media (max-width: 490px) {
	.item__link {
		flex: 1 0 100%;		
	}
	.most__title {
		font-size: 30px;
	}
	
}

.item__link:hover .item__image {
	transform: scale(1.01);
}
.item__link:hover .item__image p {
	text-decoration: underline;
}

.item__image {
	aspect-ratio: 271 / 270;	
	line-height: 1.4;	
	transition: 0.2s;	
}
.item__image p {
	line-height: 1.4;
	text-align: center;
	transition: 0.2s;
}
.item__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.most__view {
	text-align: center;
}
.most__button {
	margin-top: 56px;
	font-family: "Ubuntu",sans-serif;
	font-weight: 500;
	line-height: 1.9;
	background-color: #FF7A49;
	padding: 12px 43px;
	color: white;
	
	transition: 0.2s;		
}

.most__button:hover {
	background-color: #e06b40;
}

.our {
	background-color: #0E333D;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	color: #EBEBEB;
	font-size: 20px;
}
.our__conteiner {
	padding: 94px 15px;
}

.our__title {
	font-family: "DM Serif Text", sans-serif;
	font-size: 48px;
	font-weight: 400;
	color: white;
	line-height: 1.27;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 23px;
}
.our__text {
	line-height: 1.27;
	text-align: center;
	margin-bottom: 34px;
}
.our__list {
	display: flex;
	gap: 10px;
	justify-content: space-around;	
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 77px;
}
.our__link:hover {
	text-decoration: underline;
}
.our__link {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.27;
	flex: 1 0 25%;
	align-items: center;
}
@media (max-width: 490px) {
	.our__link {
		flex: 1 0 50%;
	}
}

.cards {
	display: flex;
	gap: 15px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.cards__item:hover .cards__link {
	transform: scale(1.01);
}
.cards__item:hover .cards__link p {
	text-decoration: underline;
}
.cards__link {
	aspect-ratio: 271 / 270;
	object-fit: cover;
	flex: 1 0 25%;
}
@media (max-width: 840px){
	.cards__link {
		flex: 1 1 50%;
	}
	.our__title {
		font-size: 40px;
	}
}
@media (max-width: 490px) {
	.cards__link {
		flex: 1 1 100%;
	}
	.our__title {
		font-size: 30px;
	}
}
.cards__link img {
	width: 100%;
	height: 100%;
	margin-bottom: 17px;
	transition: 0.2s;
}
.cards__link p {
	font-family: "Cormorant Infant", sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: white;
	line-height: 1.4;
	transition: 0.2s;
}


.footer {
	background-color: #2A2F2F;

}
.footer__text {
	font-weight: 700;
	font-family: "CoreSansC", sans-serif;
	font-size: 40px;
	color: #BEBCBD;
	padding: 40px 20px;
	text-align: center;
}