@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); 
@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
	font-family: "Organetto";
	src: url("../fonts/Fontspring-DEMO-organetto-extbold.woff2") format("woff2"),
		url("../fonts/Fontspring-DEMO-organetto-extbold.woff" ) format("woff");
		font-display: swap;
		font-weight: 800;
		font-style: normal;
}