@import url("reset.css");


body {
	font-size: 30px;	
	background-color: rgba(223, 205, 181, 0.5);
}
.opaque {
	background-color: rgba(223, 205, 181);
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.wrapper main {
	flex-grow: 1;
	padding: 0 15px;
}
.header {
	position: fixed;
	width: 100%;
	top: 0;
}

.header,
.footer {
	background-color: rgb(34, 28, 28);
	color: white;
	padding: 30px;
	text-align: center;
}


ul {
	margin-bottom: 50px;
	padding-top: 150px;
}
li:not(:last-child) {
	margin-bottom: 10px;
}

.text {
	margin-bottom: 50px;
	line-height: 1.2;
}
.button-item {	
	padding: 20px 30px;
	background-color: blue;
	border-radius: 8px;
	color: white;
	margin-bottom: 50px;
}


