@use "sass:math";


// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1230;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1118;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

//Кольори
$mainColor: #021412;
$greyColor: #71717A;
$borderButtonColor: #D4D4D8;
$borderColor: #E4E4E7;


//обнулення
@import "_reset.scss";
//шрифти
@import "_fonts.scss";

//functions
@import "_functions.scss";
//components
@import "_common.scss";
// header
@import "_header.scss";
//footer
@import "_footer.scss";




body {
	font-family: "Inter", sans-serif;
	font-weight: 400;	
	color: $mainColor;
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}

[class*="__conteiner"] {
	max-width: toRem(1188);
	margin: 0 auto;
	padding-left: toRem(15);
	padding-right: toRem(15);
	
}








//page
.page {

	&__hero {
		@include adaptiveValue ("margin-bottom", 243, 100);				
	}
	&__programs {
		@include adaptiveValue ("margin-bottom", 220, 50);
	}
	&__manager {
		@include adaptiveValue ("margin-bottom", 314, 50);
	}
	&__mission {
		@include adaptiveValue ("margin-bottom", 207, 50);
	}
	&__pricing {
		@include adaptiveValue ("margin-bottom", 161, 50);
	}
	&__start-now {
		@include adaptiveValue ("margin-bottom", 200, 50);
	}
	
}
.hero {
	&__items {		
		display: flex;
		flex: 0 1 auto;		
		flex-wrap: wrap;	
		position: relative;
		@media (max-width: toRem(974)) {
			flex-direction: column;			
		}
		&::after {
			content: "";
			background-color: #7DF1E8;
			border-radius: toRem(400) 0 0 0;			
			width: toRem(504);			
			height: 117%;
			right: 0;
			top: 0;
			position: absolute;			
		}	
		@media (max-width: toRem(504)) {
			&::after{
				right: toRem(-15);
			}			
		}		
	}

	&__left {
		width: 45%;
		padding-top: toRem(37);		
		z-index: 5;
		@media (max-width: toRem(974)) {
			width: 100%;			
		}		
	}

	&__title {
		@include adaptiveValue("font-size", 64, 42);
		letter-spacing: toRem(3.2);
		margin-bottom: toRem(30);
	}
	p {
		font-size: toRem(20);
		line-height: 150%;
		&:not(:last-child) {
			margin-bottom: toRem(44);
		}
	}
	.button {
		&--thing {
			@media (max-width: toRem(974)) {
				align-items: center;			
			}
			@media (max-width: toRem(425)) {
				width: 100%;				
			}			
		}
	}
}


.programs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: toRem(40);
	@media (max-width: toRem(768)) {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, 1fr);
		row-gap: toRem(10);
	}

	&__item {
		@include adaptiveValue ("padding", 101, 20);		
		border-radius: 0 0 toRem(120) 0;
		border: toRem(1) solid $borderColor  ;
		&--top {
			border-radius: 0 toRem(120) 0 0;
		}
	}

	&__title {
		
		margin-bottom: toRem(23);
	}
	p {
		@include adaptiveValue("font-size", 19, 16);
		
		line-height: 157.894737%; /* 30/19 */
		&:not(:last-child) {
			margin-bottom: toRem(29);
		}
	}
	&__lable {
		font-size: toRem(14);
		line-height: 150%; /* 21/14 */
		letter-spacing: toRem(.7);
		padding: toRem(3) toRem(8);
		border-radius: toRem(6);
		background-color: $borderColor;
		text-transform: uppercase;
		width: toRem(54);
		color: $greyColor;
		margin-bottom: toRem(6);
	}
}


.manager {
	display: flex;
	flex: 0 1 auto;
	flex-wrap: nowrap;	
	align-items: flex-start;
	@include adaptiveValue("column-gap", 72, 10);
	row-gap: toRem(15);
	align-items: center;
	@media (max-width: toRem(600)) {
		flex-wrap: wrap;
	}
	&__image {
			overflow: hidden;
			object-fit: cover;
			width: 100%;
			height: 100%;
			aspect-ratio: 254 / 300;			
	}	

	&__items {
		p {
			@include adaptiveValue("font-size", 30, 18);			
			line-height: 150%; /* 45/30 */
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 27, 20);
				
			}
		}
	}

	&__button {
		@include adaptiveValue("font-size", 29, 18);		
		line-height: 155.172414%; /* 45/29 */
		position: relative;
		top: toRem(-3);
		&::after {
			content:"";
			position: absolute;
			@include adaptiveValue("width", 151, 95);				
			height: toRem(3);
			background-color: $greyColor;
			left: 0;
			bottom: 0;
			transition: 0.3s
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {					
					width: 0;
				}
			}
		}
	}
	&__name {
		@include adaptiveValue("font-size", 20, 16);		
		line-height: 180%; /* 36/20 */
		letter-spacing: toRem(1.2);
	}

	&__prof {
		@include adaptiveValue("font-size", 17, 14);		
		line-height: 158.823529%; /* 27/17 */
		color: $greyColor;
	}
}


.mission {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	@include adaptiveValue ("gap", 89, 10);
	@media (max-width: toRem(768)) {
		grid-template-columns: repeat(1, 1fr);
	}

	&__title {
		margin-bottom: toRem(53);
		@include adaptiveValue ("padding-top", 52, 20);
	}

	&__button {
		padding: toRem(3) toRem(37);
		line-height: 150%;
		background-color: #FFFFFF;
		color: $mainColor;	
		font-size: toRem(20);
		line-height: 150%; /* 30/20 */
		border: toRem(1) solid $borderButtonColor;
		border-radius: toRem(10);
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				background-color: $mainColor;
				color: #FFFFFF;				
				
			}
			&:focus {
				background-color: $mainColor;
				color: #FFFFFF;
			}
			&:disabled {
				background-color: #eaeaea;
				cursor: default;
				color: $greyColor;
			}
		}
	}
	&__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue ("gap", 99, 10);				
		@include adaptiveValue ("padding-top", 52, 20);
		&:not(:last-child) {
			border-bottom: toRem(1) solid $borderButtonColor;
			@include adaptiveValue ("padding-bottom", 44, 20);
		}
		@media (max-width: toRem(768)) {
			grid-template-columns: repeat(1, 1fr);
		}
		
	}

	&__little-title {
		font-size: toRem(19);
		line-height: 189.473684%; /* 36/19 */
		letter-spacing: toRem(1.2);
	}
	p {
		font-size: toRem(17);
		line-height: 158.823529%; /* 27/17 */
	}
}


.pricing {

	&__title {
		text-align: center;
		@include adaptiveValue ("margin-bottom", 29, 15);
	}

	&__text {
		text-align: center;
		@include adaptiveValue("font-size", 20, 16);		
		line-height: 150%; /* 30/20 */
		@include adaptiveValue ("margin-bottom", 82, 20);
	}

	&__items {
		margin-bottom: toRem(42);
	}

	&__plan {
		font-family: "Roboto", sans-serif;
		text-align: center;
		font-size: toRem(20);
		line-height: 150%; /* 30/20 */
		justify-content: center;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		gap: toRem(8);
		transition: all 0.3s;
		&::after {
			content: "";
			background: url("../img/arrow.svg") 0 0 no-repeat;
			width: toRem(20);
			height: toRem(20);
			transition: all 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				text-shadow: toRem(1) toRem(1) toRem(1) $mainColor;
				&::after {
					transform: translateX(toRem(3));
				}
			}
		}

	}
}

.items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	@media (max-width: toRem(980)) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: toRem(634)) {
		grid-template-columns: repeat(1, 1fr);
	}

	&__item {
		@include adaptiveValue ("padding-top", 51, 20);
		@include adaptiveValue ("padding-bottom", 106, 20);
		@include adaptiveValue ("padding-left", 56, 20);
		@include adaptiveValue ("padding-right", 56, 20);
		border-radius: 0 toRem(80) 0 toRem(80);
		&--active {
			background-color: #F1F5F9;			
		}
	}

	&__lable {
		margin-bottom: toRem(12);
		font-size: toRem(19);
		line-height: 157.894737%; /* 30/19 */
	}

	&__price {
		margin-bottom: toRem(12);
		font-size: toRem(48);
		line-height: 150%; /* 72/48 */
		span {
			font-size: toRem(19);
			line-height: 157.894737%; /* 30/19 */
			color:#02141275;
		}
	}

	&__button {
		margin-bottom: toRem(20);
	}

	&__list {
		&:not(:last-child) {
			margin-bottom: toRem(39);
		}
	}

	&__condition {
		padding: toRem(20) 0;
		font-size: toRem(15);
		line-height: 160%; /* 24/15 */
		color: #000000;
		&:not(:last-child) {
			border-bottom: toRem(1) solid $borderColor;
		}
		img {
			width: toRem(20);
			height: toRem(20);
			margin-right: toRem(8);
		}		
	}

	

	&__description {
		margin-bottom: toRem(20);
		font-size: toRem(14);
		line-height: 150%; /* 21/14 */
		color: #02141275;
	}

	&__content {
		padding: toRem(20) 0;
		font-size: toRem(15);
		line-height: 160%; /* 24/15 */
		color: #000000;
		display: flex;
		gap: toRem(8);
		align-items: top;
		justify-content: flex-start;
		&:not(:last-child) {
			border-bottom: toRem(1) solid $borderColor;
		}
		&::before {
			content: "";
			background: url("../img/shevron.svg") 0 0 no-repeat;
			width: toRem(25);
			height: toRem(20);
		}
	}	
}


.start-now {
	background-color: #FFE3FB;
	border-radius: toRem(140) 0 toRem(140) 0;
	@include adaptiveValue ("padding-top", 66, 20);
	@include adaptiveValue ("padding-bottom", 72, 20);
	@include adaptiveValue ("padding-left", 211, 20);
	@include adaptiveValue ("padding-right", 212, 20);
	@media (max-width: toRem(425)) {
		margin-left: toRem(-15);
		margin-right: toRem(-15);
		border-radius: toRem(70) 0 toRem(70) 0;
	}
	p {
		@include adaptiveValue ("font-size", 37, 20);		
		line-height: 129.72973%; /* 48/37 */
		letter-spacing: toRem(2.4);
		@include adaptiveValue ("margin-bottom", 46, 20);
	}
	&__button {
		position: relative;
		left: 35%;
	}
}



