@import url("fonts.css");
@import url("reset.css");

body {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	background: fixed #E2E2E2 0 0 no-repeat;
}
.homework {
	font-size: 0;
	margin: 0 auto;
	max-width: 1600px;
	
}
h2 {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 50px;
	text-align: center;
	margin-bottom: 20px;
	text-decoration: underline;
}
h3 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 40px;
}
.vector-svg,
.fifth-line,
.content-vector,
.content-rastr {
	border: 3px solid rgb(153, 150, 150);
	border-radius: 10px;
	margin: 0px 25px 25px 25px;
	padding: 20px;
	text-align: center;
}
.vector-svg div:not(:last-child){
	margin-bottom: 20px;
}
.first-line img:not(:last-child) {
	margin-right: 40px;
}
.second-line img:not(:last-child){
	margin-right: 30px;
}
.therd-line img:not(:last-child){
	margin-right: 20px;
}
.forth-line img:not(:last-child){
	margin-right: 25px;
}
.fifth-line img:not(:last-child) {
	margin-right: 50px;
}
.content-vector img:not(:last-child) {
	margin-right: 40px;
}
.content-rastr {
	display: inline-block;	
	font-size: 0;
	max-width: 1555px;
	width: 100%;
	padding: 20px;
	text-align: center;
}
.content-rastr img:not(:last-child) {
	vertical-align: top;
	margin-right: 10px;	
}
.content-rastr img {
	display: inline-block;	
	max-width: 500px;
   text-align: center;
}
.content-rastr img:nth-child(even) {
	padding-top: 10px;
}
.content-rastr img:last-child {
	padding-top: 100px;
}

